.history-view
{
  background-color: var(--op-color-neutral-plus-max);
  color: var(--op-color-neutral-on-plus-max);
  height: 100vh;
  overflow: hidden;

  --gf-side-panel-width: calc(var(--op-size-unit) * 84); /* 336 pixels */
  --gf-side-panel-height: calc(var(--op-size-unit) * 64); /* 256 pixels */

  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr var(--gf-side-panel-width);
  grid-template-areas: "games game-feed";

  .history-view__games
  {
    grid-area: games;
  }

  .history-view__game-feed { 
    grid-area: game-feed;
    border-left: var(--op-border-width) solid var(--op-color-border);

    .panel__content
    {
      /* overrides default padding of (--op-space-medium) */
      padding: 0px !important;
    }

    .feed-content
    {
      padding: var(--op-space-medium);
    }
  }

}