
.op-page
{
  background-color: var(--op-color-neutral-plus-max);
  color: var(--op-color-neutral-on-plus-max);

  .op-page__main
  {
    .content-header
    {
      .content-header__title
      {
        font-size: var(--op-font-small);
        font-weight: var(--op-font-weight-semi-bold);
      }
    }
  }

}