@import '@rolemodel/optics/dist/css/optics.css';

.op-page__sidebar {
  padding-top: var(--op-space-2x-large);
  padding-right: var(--op-space-large);
  padding-bottom: var(--op-space-2x-large);
  
  padding-left: var(--op-space-large);

  background-color: var(--neutral-plus-eight);
  border-right: var(--op-border-width) solid var(--op-color-neutral-plus-four);
  width: 216px;
}

.game-view
{
  background-color: var(--op-color-neutral-plus-max);
  height: 100vh;
  --gf-side-panel-width: calc(var(--op-size-unit) * 84); /* 336 pixels */
  --gf-side-panel-height: calc(var(--op-size-unit) * 64); /* 256 pixels */

  display: grid;
  grid-template-rows: 1fr var(--gf-side-panel-height);
  grid-template-columns: 1fr var(--gf-side-panel-width);
  grid-template-areas:
    "game-board game-feed"
    "cards books";
}

.game-board  { grid-area: game-board; }
.game-feed { grid-area: game-feed; }
.hand    { grid-area: cards; }
.books  { grid-area: books; }

.game-feed
{
  /* op size unit is 4px */
  background-color: var(--op-color-primary-plus-eight);
  border-left: 1px solid var(--op-color-border);

  .content-header
  {
    h2
    {
      font-size: var(--op-font-medium);
    }
  }

  .content-body
  {
    padding: var(--op-space-medium);

    .feed-action
    {
      border-radius: var(--op-radius-x-large);
      padding: var(--op-space-small);
    }

    .player-action
    {
      background-color: var(--op-color-primary-plus-five);
      color: var(--op-color-primary-minus-five);
    }
    
    .action-responses
    {
      padding-left: var(--op-space-small);
      padding-right: var(--op-space-small);
    }

    .feed-response
    {
      height: var(--gf-height);
      border: 1px solid black;
    }

    .feed-response--unsuccess
    {
      background-color: var(--op-color-alerts-warning-plus-seven);
      border-color: var(--op-color-alerts-warning-plus-five);
      color: var(--op-color-alerts-warning-minus-two);
    }

    .feed-response--result
    {
      background-color: var(--op-color-primary-plus-max);
      border-color: var(--op-color-primary-plus-seven);
    }

  }
}

.game-feed .content-header, .game-board .content-header
{
  --op-navbar-height: calc(var(--op-size-unit)*15); /* 60 px */
  height: var(--op-navbar-height);
  padding-top: var(--op-space-small);
  padding-right: var(--op-space-medium);
  padding-bottom: var(--op-space-2x-small);
  padding-left: var(--op-space-medium);

  border-bottom: 1px solid var(--op-color-border);
}



.game-actions
{
  background-color: var(--op-color-primary-plus-seven);
  border: 1px solid var(--op-color-primary-plus-six);
  border-radius: var(--op-radius-x-large);
  padding: var(--op-space-small);
}

.game-board
{
  .players
  {
    padding-top: var(--op-space-2x-large);
    padding-right: var(--op-space-3x-large);
    padding-bottom: var(--op-space-4x-large);
    padding-left: var(--op-space-3x-large);
  }

}

.players h2
{
  font-size: var(--op-font-medium);
  font-weight: var(--op-font-weight-semi-bold);
}

.players__hand 
{
  .accordion
  {
    .accordion__label
    {
      font-size: var(--op-font-medium);
      font-weight: var(--op-font-weight-normal);
    }

    summary
    {
      height: var(--op-input-height-large);     
      padding-right: var(--op-space-medium);
      padding-left: var(--op-space-2x-small);
      gap: var(--op-space-x-large); 
    }

    .accordion__content, summary
    {
      border-radius: var(--op-radius-medium);
      border: var(--op-border-width) solid var(--op-color-border);
    }

    .accordion__content
    {
      padding: var(--op-space-small) var(--op-space-medium); /* V, H*/      
    }
    
  }

  .text-pair
  {
    gap: var(--op-space-2x-large, 100px);
  }
  
}

.cards-stacked>*:not(:first-child)
{
  margin-left: -40px;
}

.playing-card.playing-card--small
{
  height: 80px;
  width: 60px;
}

.playing-card.playing-card--large
{
  height: 160px;
}

/*
.sidebar.sidebar--padded {
  padding: var(--op-space-large) var(--op-space-2x-large) var(--op-space-4x-large);

  .content-header {    
    padding-bottom: var(--op-space-2x-large);
  }
}

.sidebar
{
  .sidebar__link
  {
    text-decoration: none;
  }
}

.accordion
{
  .accordion__content
  {
    background-color: var(--op-color-neutral-on-minus-five);
  }
}

#game-feed
{
  background-color: var(--op-color-primary-plus-five);
  padding: 20px;
}

.accordion.accordion--padded>*
{
  padding: 20px;
}

.player-details
{
  display: flex;
  gap: var(--op-space-4x-large);
}

*/

/*
--gf-side-panel-width: calc(var(--op-size-unit) * 84) 336 pixels
--gf-side-panel-height: calc(var(--op-size-unit) * 64) 256 pixels
*/