@import '@rolemodel/optics/dist/css/optics.css';

/* Theme styling */
:root {
  /* Colors */
  /* hsla(284, 90%, 40%, 1) */
  --op-color-primary-h: 284;
  --op-color-primary-s: 90%;
  --op-color-primary-l: 40%;
}
/* End of theme styling */


.op-page__sidebar {
  padding-top: var(--op-space-2x-large);
  padding-right: var(--op-space-large);
  padding-bottom: var(--op-space-2x-large);
  
  padding-left: var(--op-space-large);

  background-color: var(--neutral-plus-eight);
  border-right: var(--op-border-width) solid var(--op-color-neutral-plus-four);
  width: 216px;
}

/* TODO: when setting background color, also set text color!!! */
.game-view
{
  background-color: var(--op-color-neutral-plus-max);
  color: var(--op-color-neutral-on-plus-max);

  height: 100vh;
  --gf-side-panel-width: calc(var(--op-size-unit) * 84); /* 336 pixels */
  --gf-side-panel-height: calc(var(--op-size-unit) * 64); /* 256 pixels */

  display: grid;
  grid-template-rows: 1fr var(--gf-side-panel-height);
  grid-template-columns: 1fr var(--gf-side-panel-width);
  grid-template-areas:
    "game-board game-feed"
    "cards books";
}

#game-board  { grid-area: game-board; }
.game-feed { grid-area: game-feed; }
.hand    { grid-area: cards; }
.books  { grid-area: books; }

.game-feed
{
  .feed-action
  {
    border-radius: var(--op-radius-x-large);
    padding: var(--op-space-small);
  }

  .player-action
  {
    background-color: var(--op-color-primary-plus-five);
    color: var(--op-color-primary-on-plus-five-alt);
  }
  
  .action-responses
  {
    padding-left: var(--op-space-small);
    padding-right: var(--op-space-small);
  }

  .feed-response
  {
    height: var(--gf-height);
  }

  .feed-response--unsuccess
  {
    background-color: var(--op-color-alerts-warning-plus-seven);
    border-color: var(--op-color-alerts-warning-plus-five);
    color: var(--op-color-alerts-warning-on-plus-five-alt);
  }

  .feed-response--result
  {
    background-color: var(--op-color-primary-plus-max);
    border-color: var(--op-color-primary-on-plus-max-alt);
  }
}


.hand .content-header, .books .content-header
{
  border: 1px solid var(--op-color-border);
}


.game-actions
{
  background-color: var(--op-color-primary-plus-seven);
  border: 1px solid var(--op-color-primary-plus-six);
  border-radius: var(--op-radius-x-large);
  padding: var(--op-space-small);
}

#game-board
{
  #players
  {
    padding-top: var(--op-space-2x-large);
    padding-right: var(--op-space-3x-large);
    padding-bottom: var(--op-space-4x-large);
    padding-left: var(--op-space-3x-large);
  }

}

.players h2
{
  font-size: var(--op-font-medium);
  font-weight: var(--op-font-weight-semi-bold);
}

.players__hand 
{
  .accordion
  {
    .accordion__label
    {
      font-size: var(--op-font-medium);
      font-weight: var(--op-font-weight-normal);
    }

    summary
    {
      height: var(--op-input-height-large);     
      padding-right: var(--op-space-medium);
      padding-left: var(--op-space-2x-small);
      gap: var(--op-space-x-large); 
    }

    .accordion__content
    {
      /* TODO: padding-inline for H and padding-block for V */
      padding: var(--op-space-small) var(--op-space-medium); /* V, H*/      
    }

    .icon
    {
      border-radius: var(--op-radius-circle);
    }
    
  }

  .accordion
  {
    border-radius: var(--op-radius-medium);
  }

  .accordion[open]
  { 
    background-color: var(--op-color-primary-plus-eight);

    .accordion__content, summary
    {
      border: var(--op-border-width) solid var(--op-color-primary-plus-four);
    }

    .icon
    {
      background-color: var(--op-color-primary-plus-five);
      border: var(--op-border-width) solid var(--op-color-primary-plus-three);
    }
  }

  .accordion:not([open]) {
    .accordion__content, summary
    {
      border: var(--op-border-width) solid var(--op-color-border);
    }
  }

  .text-pair
  {
    gap: var(--op-space-2x-large, 100px);
  }
  
}

.cards-stacked>*:not(:first-child)
{
  margin-left: -40px;
}

.accordion .cards-stacked, .books .cards-stacked
{
  height: calc(var(--op-size-unit)*30); /* 120px */
}

.hand .cards-stacked
{
  height: calc(var(--op-size-unit)*38); /* 152 px */
}

.playing-card {
  height: 100%;
  aspect-ratio: 63.5 / 88.9;  /* official playing care*/ 
  /* box-shadow: 0px 1.08px 2.17px 0px var(--op-color-neutral-plus-two); */
  box-shadow: var(--op-shadow-x-small);
}


/* start of new stuff */
.panel
{
  background-color: var(--op-color-neutral-plus-max);
  color: var(--op-color-neutral-on-plus-max);
  
  h2 {
    margin: 0;
    font-size: calc(var(--op-font-scale-unit) * 1.8); /* 18 px */
    font-weight: var(--op-font-weight-semi-bold);
  }

  &.panel--primary
  {
    background-color: var(--op-color-primary-plus-eight);
    color: var(--op-color-primary-on-plus-eight-alt);
    
    h2
    {
      font-size: calc(var(--op-font-scale-unit) * 1.4); /* 14 px */
    }
  }

  &.panel--secondary
  {
    background-color: var(--op-color-neutral-plus-eight);
    color: var(--op-color-primary-on-neutral-eight-alt);
    
    h2
    { 
      font-size: calc(var(--op-font-scale-unit) * 1.4); /* 14 px */
    }
  }

  &.panel--padded .panel__header
  {
    --op-navbar-height: calc(var(--op-size-unit)*15); /* 60 px */
    height: var(--op-navbar-height);
  }

  .panel__header
  {
    border: var(--op-border-width) solid var(--op-color-border);

    display: flex;
    flex-flow: row;
    align-items: center;
    height: calc(var(--op-size-unit)*10); /* 40 px */

    padding-top: var(--op-space-small);
    padding-bottom: var(--op-space-x-small);
    padding-right: var(--op-space-medium);
    padding-left: var(--op-space-medium);
  }  

  .panel__content
  {
    padding: var(--op-space-medium);
  }

}




/*
.sidebar.sidebar--padded {
  padding: var(--op-space-large) var(--op-space-2x-large) var(--op-space-4x-large);

  .content-header {    
    padding-bottom: var(--op-space-2x-large);
  }
}

.sidebar
{
  .sidebar__link
  {
    text-decoration: none;
  }
}

.accordion
{
  .accordion__content
  {
    background-color: var(--op-color-neutral-on-minus-five);
  }
}

#game-feed
{
  background-color: var(--op-color-primary-plus-five);
  padding: 20px;
}

.accordion.accordion--padded>*
{
  padding: 20px;
}

.player-details
{
  display: flex;
  gap: var(--op-space-4x-large);
}

*/